<section class="login">
  <header class="page-header">
  <h1>Sign up, for all plant lovers 🌵🌿🌱</h1>
  </header>

  <%= form_for @user do |form| %>

    <% if form.object.errors.any? %>
      <div class="alert alert-danger">
        <strong>The following errors prevented saving:</strong>
        <ul>
          <% form.object.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
    <div class="row">
      <div class="col-sm-6">
        <%= label_tag :first_name, 'First Name' %>
        <%= form.text_field :first_name, class: 'form-control' %>
      </div>
      <div class="col-sm-6">
        <%= label_tag :last_name, 'Last Name' %>
        <%= form.text_field :last_name, class: 'form-control' %>
      </div>
    </div>
  
    <div class="row">
      <div class="col-sm-6">
        <%= label_tag :email, 'Email' %>
        <%= form.text_field :email, class: 'form-control' %>
      </div>
    </div>
  
    <div class="row">
      <div class="col-sm-6">
        <%= label_tag :password, 'Password' %>
        <%= form.password_field :password, class: 'form-control' %>
      </div>
      <div class="col-sm-6">
        <%= label_tag :password_confirmation, 'Confirm Password' %>
        <%= form.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </div>
  
    <div class="row">
      <div class="col-sm-12">
        <br>
        <%= submit_tag "Submit", class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

  <% end %>

</section>