<!DOCTYPE html>
<html>
<head>
  <title>Order Summary</title>
</head>
<body>
  <h1>Your Plant Order Summary 🌱</h1>
  
  <p>Hello <%= @current_user.first_name %>,</p>

  <p>Here is the summary of your order:</p>

  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Item Price</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      <% @order_details.each do |details| %>
        <tr>
          <td><%= details[:product] %></td>
          <td><%= details[:quantity] %></td>
          <td><%= details[:item_price] %></td>
          <td><%= details[:total_price] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p>Thank you for shopping with us!</p>
</body>
</html>